@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

html, body {
    height: 100%;
    background-color: #020202;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textTop {
    border-radius: 50%;
    position: relative;
    min-width: 55vh;
    min-height: 55vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(shar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    box-shadow: inset 0px -20px 20px 20px black;
}

button {
    transition: 1s;
    min-width: 36vh;
    min-height: 4vh;
    font-size: 2vh;
    border-radius: 23%;
    border-width: 5px;
    border-style: groove;
    border-color: #2f18f1;
    background-color: #f0f8ff00;
    color: #8787f9;
}

button:hover {
    transform: scale(1.2);
}

#textTop1 {
    font-size: 2.5vh;
    color: floralwhite;
}

h1 {
    text-align: center;
    font-size: 4vh;
    font-family: cursive;
    color: #8385f9;
}

#conteiner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}
