@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes transform {
    10%, 20%, 30%, 40% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.1);
    }

    60%, 70%, 80%, 90% {
        transform: scale(1);
    }
}

body {
    height: 100%;
    display: flex;
    background-image: url(fruits.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

.globalCase {
    min-width: 40vh;
    display: flex;
    justify-content: space-evenly;
    border: 5px groove #30a79c;
    background-color: #68e4ba;
    align-content: center;
    flex-direction: row;
    align-items: center;
}

.conteinerGlobal {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.conteiner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box {
    background-color: aquamarine;
    min-width: 12vh;
    min-height: 12vh;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    font-family: cursive;
    margin-bottom: 10%;
    margin-top: 10%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.insideBox {
    display: flex;
    justify-content: space-evenly;
    font-size: 5.2vh;
    margin-top: 10%;
}

.startMenu {
    transition: 1s;
    min-width: 37vh;
    min-height: 20vh;
    font-size: 6vh;
    border-radius: 113px;
    border-width: 5px;
    border-style: groove;
    border-color: #30a79c;
    background-color: #7fffd4;
    position: absolute;
    top: 40%;
}

    .startMenu:hover {
        transform: scale(1.2);
    }

.gameRoll {
    min-width: 26vh;
    min-height: 8vh;
    font-size: 4vh;
    border-radius: 113px;
    border-width: 5px;
    border-style: groove;
    border-color: #30a79c;
    background-color: #7fffd4;
    position: absolute;
    top: 90%;
    display: none;
}

.endGame {
    min-width: 26vh;
    min-height: 16vh;
    font-size: 4vh;
    border-radius: 113px;
    border-width: 5px;
    border-style: groove;
    border-color: #30a79c;
    background-color: #7fffd4;
    position: absolute;
    top: 68%;
    display: none;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.endGame1 {
    transition: 1s;
    min-width: 16vh;
    min-height: 5vh;
    font-size: 3vh;
    border-width: 5px;
    border-style: groove;
    border-color: #30a79c;
    background-color: #00eb9c;
    margin-top: 5%;
    animation: transform 1s linear infinite;
}

#name1 {
    margin: 0% 0% 0% 12%;
    font-size: 3.5vh;
}